:root{
    --main-color: #333333;
    --other-color: #4F4F4F;
    --white-color: white;
}

span{
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 5.5;
    padding: 0 0 0 50px;
    letter-spacing: -0.1em;
    word-spacing: 0.1em;
}

img{
    position: absolute;
    display: block;
    width: 450px;
    height: 450px;
    object-fit: contain;
    margin-left: 50px;
    margin-top: 50px;
}

h1{
    position: absolute;
    color: var(--main-color);
    margin-left: 700px;
    top: 150px;
    font-family: 'Space Mono';
    font-size: 40px;
    word-spacing: 0.8em;
}

p{
    font-family: 'Space Mono';
    color: var(--other-color);
    margin-left: 700px;
    margin-top: 220px;
    flex: 1.9;
}

button{
    background-color: var(--main-color);
    color: var(--white-color);
    margin-left: 700px;
    line-height: 3em;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 360px) {
    img{
        width: 200px;
        height: 200px;
    }
}